* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    margin: 0px;
    height: 100%;
    width: 100%;
}

header {
    text-align: center;
}

.hidden {
    display:none;
}

.disflex {
    display:flex;
}

body {
    color: #000;
    font-family: 'Josefin Sans', 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

/* --- Header --- */

nav {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-attachment: scroll;
    /* flex-wrap: wrap; */
}

.logo{
    display: inline-block;
    height: 50px;
    width: 142px;
    margin: 5px 5px;
}

nav ul {
    display: flex;
    background-color: #fff;
    list-style: none;
    position: fixed;
    padding: 16px;
}

nav ul li a{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0px 10px;
    font-weight: bold;
    text-shadow: 1px 0 #888888;
    color: #56992d;
    text-transform: uppercase;
}

.mobile-nav-icon {
    display: none;
}

.mobile-nav-close {
    display: none;
}

.hero-box {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(/img/trekking_main.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    height: 100vh;
    z-index: -1;
}

.hero-text {
    color: #fff;
    font-size: 30px;
    font-family: "Josefin Sans";
    text-transform: uppercase;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* --- Mobile --- */

@media only screen and (min-width: 320px) and (max-width: 899px) {

    html, body {
        width: fit-content;
    }

    nav ul {
        display: block;
        margin-top: 59px;
        line-height: 250%;
        width: 100%;
        height: 220px;
        top: -100%;
        transition: all .5s;
        z-index: 1;
    }

    .mobile-nav-icon {
        display: flex;
        font-size: 40px;
        margin-right: 20px;
        margin-top: 9px;
    }

    .mobile-nav-close {
        display: none;
        font-size: 40px;
        top: 20px;
        margin-right: 20px;
        margin-top: 9px; 
    }

}

/* --- Small tablets ---*/

@media only screen and (min-width: 900px){
    nav {
        height:100px;
    }

    .nav-items {
        padding: 5px;
        margin-top: 15px;
        text-align: center;
    }

    .logo {
        margin-top: 15px;
    }
    
    nav ul {
        height: 80px;
        display: flex;
        position: static;
        margin-top: 10px;
        margin-right: 10px;
        line-height: 30px;
        justify-content: space-between;
    }

    nav ul li a {
        background: linear-gradient(currentColor 0 0) 0 100% /var(--d, 0) 3px no-repeat;
        transition:0.5s;
        font-size: 14px;
        padding: 5px;
        margin-top: 12px;
    }

    nav ul li a:hover {
        --d: 100%;
    }

    .logo{
        height: 70px;
        width: 200px;
    }

    .mobile-nav-icon {
        display: none;
    }

    .mobile-nav-close {
        display: none;
    }

}

@media only screen and (min-width: 1050px){
    nav ul li a {
        font-size: 16px;
    }
}

/* --- Tablets / Desktops ---*/

@media only screen and (min-width: 1200px) {
    .logo {
        margin-top: 10px;
        height: 80px;
        width: 250px;
    }
    
    nav {
        display: flex;
    }
    
    nav ul {
        display: flex;
    }

    nav ul li a {
        font-size: 20px;
    }

    .mobile-nav-icon {
        display: none;
    }

    .mobile-nav-close {
        display: none;
    }
}